<div class="clr-row bottom-1">
  <clr-select-container class="clr-col-4">
    <label for="ref">Reference species</label>
    <select clrSelect id="ref"
            [(ngModel)]="refSpecies"
            (change)="changeComparison()">
      <option *ngFor="let s of species" [value]="s.getID()">
        {{ s.commonName }}
      </option>
    </select>
  </clr-select-container>

  <clr-select-container class="clr-col-4">
    <label for="comp">Comparison species</label>
    <select clrSelect id="comp" [(ngModel)]="compSpecies">
      <option *ngFor="let s of species"
              [value]="s.getID()"
              [disabled]="s.getID() === refSpecies">
        {{ s.commonName }}
      </option>
    </select>
  </clr-select-container>
</div>
