h2 {
  margin: 0.5rem 0.5rem
}

h6 {
  margin: 1.1rem 0.5rem 0 0;
}

.clr-form-control {
  margin-top: 0.3rem;
}

.clr-input {
  min-width: 0 !important;
  width: 130px;
}

ng-select {
  width: 150px;
}

#quick-nav-footer {
  padding-top: 0.5rem;
}
