<div class="clr-row">
  <!-- Prepended 'AND' if it's not the first condition of a filter -->
  <h5 *ngIf="isConditionRemovable()"> AND </h5>

  <!-- Filter by select -->
  <clr-select-container class="right-2">
    <label for="filter-by"> Filter By </label>

    <select clrSelect id="filter-by"
            [(ngModel)]="values.filterBy"
            (ngModelChange)="values.value = ''">
      <option value="attribute"> Attribute </option>
      <option value="ontology"> Ontology </option>
    </select>
  </clr-select-container>

  <!-- Filter by attribute inputs and selects -->
  <div class="clr-row" *ngIf="isAttributeCondition()">
    <!-- Attribute select -->
    <clr-select-container>
      <label for="attribute"> Attribute </label>

      <select clrSelect id="attribute" [(ngModel)]="values.attribute">
        <option *ngFor="let a of attributes" [value]="a">
          {{ a | titlecase }}
        </option>
      </select>
    </clr-select-container>

    <!-- Type select -->
    <clr-select-container *ngIf="conditionNeedsTypeSelection()">
      <label for="type"> Type </label>

      <select clrSelect id="type"
              [(ngModel)]="values.type"
              (ngModelChange)="stateChange.emit()">
        <option [value]="null"> -- Select a type -- </option>
        <option *ngFor="let t of types" [value]="t"> {{ t }} </option>
      </select>
    </clr-select-container>

    <!-- Qualifier select -->
    <clr-select-container *ngIf="conditionNeedsQualifier()">
      <label for="qualifier"> Qualifier </label>

      <select clrSelect id="qualifier"
              [(ngModel)]="values.qualifier"
              (ngModelChange)="stateChange.emit()">
        <option value="equal"> is equal to </option>
        <option value="like"> is like </option>
        <option *ngIf="isAttributeCondition()" value="not-equal">
          is not equal to
        </option>
        <option *ngIf="isAttributeCondition()" value="not-like">
          is not like
        </option>
      </select>
    </clr-select-container>

    <!-- Value input (chr, symbol, id) -->
    <clr-input-container *ngIf="conditionNeedsUserInput()">
      <label for="value"> Value </label>

      <input id="value" clrInput placeholder="Enter a value here"
             [(ngModel)]="values.value"
             (input)="valueChanged.next($event.target.value)">
    </clr-input-container>

    <!-- Remove this condition button -->
    <button *ngIf="isConditionRemovable()" type="button"
            class="btn btn-sm btn-danger-outline left-1"
            (click)="remove.emit()">
      <clr-icon shape="close"></clr-icon> Remove
    </button>
  </div>

  <div class="clr-row" *ngIf="!isAttributeCondition()">
    <!-- Ontology select -->
    <clr-select-container >
      <label for="ontology"> Ontology </label>

      <select clrSelect id="ontology"
              [(ngModel)]="values.ontology"
              (ngModelChange)="getTermsForAutocomplete()">
        <option [value]="null" disabled> -- Select an ontology -- </option>
        <option *ngFor="let o of ontologies" [value]="o.value">
          {{ o.name }}
        </option>
      </select>
    </clr-select-container>

    <!-- Term input -->
    <ng-select *ngIf="terms" class="autocomplete"
               bindLabel="name" bindValue="id"
               [items]="terms"
               [(ngModel)]="values.value"
               [virtualScroll]="true"
               (change)="checkTermChildren()">
    </ng-select>
<!--    <clr-input-container *ngIf="values.ontology">-->
<!--      <label for="term"> Term </label>-->

<!--      <input id="term" clrInput-->
<!--             [placeholder]="'Enter an ontology term'"-->
<!--             [(ngModel)]="values.value"-->
<!--             (input)="valueChanged.next($event.target.value)">-->
<!--    </clr-input-container>-->

    <!-- Exact match toggle -->
<!--    <clr-toggle-wrapper *ngIf="values.ontology">-->
<!--      <input type="checkbox" id="exact" clrToggle [(ngModel)]="values.exact"/>-->
<!--      <label for="exact"> Exact Match </label>-->
<!--    </clr-toggle-wrapper>-->

    <!-- Remove this condition button -->
    <button *ngIf="isConditionRemovable()" type="button"
            class="btn btn-sm btn-danger-outline left-1"
            (click)="remove.emit()">
      <clr-icon shape="close"></clr-icon> Remove
    </button>
  </div>
</div>
