.clr-input, .clr-select { min-width: 0 !important; }

clr-select-container, clr-input-container {
  margin: 0.5rem 1rem 0.5rem 0;
}

.btn-danger-outline { margin-top: 1rem !important; }

h5 { margin-right: 1rem; }
