.selected { background: rgba(0, 106, 145, 0.1); }

.no-filters { color: #AAA; }

.toggle-switch { margin-top: -0.25em }

h5 {
  text-transform: uppercase;
  font-weight: bold;
  display: inline;
  margin-top: 1em !important;
}

h6 {
  margin-top: 6px;
  text-transform: uppercase;
  height: 1rem;
}

p { margin-top: 0.2em; }

.smaller { font-size: 0.5rem; }

.new-filter { border-top: 1px #AAA solid; }

.input-btn {
  padding: 5px;
  border: none;
  min-width: 0;
}

.clr-input { min-width: 300px !important; }

.clr-select { min-width: 0; }

.error-msg { color: #F00; }

.test-run-msg { color: #0079b8; }

.filter-buttons {
  padding: 0;
  margin-top: 0.5rem;
}
