h2 {
  font-size: 1.2em;
  font-weight: 600;
}

p {
  margin-top: 0;
}

a {
  color: #606060;
  border-bottom: 1px dashed #606060;
  text-decoration: none;
}

a:link {
  color: #606060;
  border-bottom: 1px dashed #606060;
  text-decoration: none;
}

a:visited {
  color: #606060;
  border-bottom: 1px dashed #606060;
  text-decoration: none;
}

a:hover {
  color: #606060;
  border-bottom: 1px dashed #606060;
  text-decoration: none;
}

img {
  padding: 5px;
}