<div class="content-container">
  <div class="content-area">
    <p>
      Conserved synteny describes a condition in which common ancestry is
      reflected as similar genome feature content and order along a chromosome
      in different species.
      <br />
      The JAX Synteny Browser allows users to search for and selectively display
      genome features within syntenic blocks according to the biological and
      functional annotations associated with the features.
    </p>

    <h2><clr-icon shape="file-group" size="24"></clr-icon> Citation</h2>
    <p>
      Kolishovski, Lamoureux, Hale et al. (2019)
      <br />
      <b>The JAX Synteny Browser for Mouse-Human Comparative Genomics.</b>
      <br />
      <i>Bioinformatics</i>, Volume <b>XX</b>, Issue <b>X</b>, 1 April 2019,
      Pages <b>xxx</b>-<b>xxx</b>,
      <br />
      <a href="https://doi.org/10.1093/bioinformatics/bty642" target="_blank"
        >https://doi.org/10.1093/bioinformatics/bty642</a
      >
    </p>

    <h2><clr-icon shape="envelope" size="24"></clr-icon> Contact</h2>
    <p>
      <b>General</b>: &lt;carol.bult@jax.org&gt;, Carol J. Bult, Ph.D.
      <br />
      <b>Bugs</b>: &lt;cssc@jax.org&gt;, The Jackson Laboratory Scientific
      Computing Group
      <br />
      <b>Implementation Help</b>: stackoverflow.com or
      <a
        href="https://bioinformatics.stackexchange.com/questions/ask?tags=higlass&tags=genomics&tags=visualization"
        target="_blank"
        >bioinformatics.stackexchange.com</a
      >
    </p>

    <h2><clr-icon shape="code" size="24"></clr-icon> Source Code</h2>
    <p>
      All code for the JAX Synteny Browser is open source and available on
      <a
        href="https://github.com/TheJacksonLaboratory/syntenybrowser"
        target="_blank"
        >GitHub</a
      >
      under the JAX Non-Commercial License. The core packages are:
      <br />
      <img src="../assets/github-mark-32.png" height="24" width="24" />
      Data Sources and Formats:
      <a
        href="https://github.com/TheJacksonLaboratory/syntenybrowser/tree/master/source-data"
        target="_blank"
        >https://github.com/TheJacksonLaboratory/syntenybrowser/tree/master/source-data</a
      >
      <br />
      <img src="../assets/github-mark-32.png" height="24" width="24" />
      ETL Python Scripts:
      <a
        href="https://github.com/TheJacksonLaboratory/syntenybrowser/tree/master/data-loaders"
        target="_blank"
        >https://github.com/TheJacksonLaboratory/syntenybrowser/tree/master/data-loaders</a
      >
      <br />
      <img src="../assets/github-mark-32.png" height="24" width="24" />
      Database and Config Files: <a href="" target="_blank">N/A</a>
      <br />
      <img src="../assets/github-mark-32.png" height="24" width="24" />
      Application Layer and API:
      <a
        href="https://github.com/TheJacksonLaboratory/syntenybrowser/tree/master/synbrowser"
        target="_blank"
        >https://github.com/TheJacksonLaboratory/syntenybrowser/tree/master/synbrowser</a
      >
      <br />
      <img src="../assets/github-mark-32.png" height="24" width="24" />
      User Interface and Visualization:
      <a
        href="https://github.com/TheJacksonLaboratory/syntenybrowser/tree/master/synbrowser"
        target="_blank"
        >https://github.com/TheJacksonLaboratory/syntenybrowser/tree/master/synbrowser</a
      >
    </p>

    <h2><clr-icon shape="book" size="24"></clr-icon> Resources</h2>
    <p></p>

    <h2><clr-icon shape="users" size="24"></clr-icon> Core Contributors</h2>
    <p>
      &nbsp;&nbsp;<a
        href="https://www.jax.org/people/anna-lamoureux"
        target="_blank"
        >Anna Lamoureux</a
      >
      , B.S., Associate Scientific Software Engineer
      <br />
      &nbsp;&nbsp;<a href="https://github.com/pjhale" target="_blank"
        >Paul Hale</a
      >
      , M.S., Bioinformatics Analyst I
      <br />
      &nbsp;&nbsp;<a
        href="https://www.jax.org/people/georgi-kolishovski"
        target="_blank"
        >Georgi Kolishovski</a
      >
      , M.S., Scientific Software Engineer
      <br />
      &nbsp;&nbsp;<a href="http://lobstersontheloose.com/" target="_blank"
        >Al Simons</a
      >
      , Principal Scientific Software Engineer
    </p>

    <h2><clr-icon shape="users" size="24"></clr-icon> Advisors</h2>
    <p>
      &nbsp;&nbsp;<a
        href="https://www.jax.org/research-and-faculty/faculty/carol-bult"
        target="_blank"
        >Carol J. Bult</a
      >, Ph.D. Professor, Knowlton Family Chair
      <br />
      &nbsp;&nbsp;<a
        href="https://www.jax.org/research-and-faculty/faculty/research-scientists/joel-richardson"
        target="_blank"
        >Joel E. Richardson</a
      >, Ph.D., Senior Research Scientist
      <br />
      &nbsp;&nbsp;<a
        href="https://www.jax.org/people/govindarajan-kunde-ramamoorthy"
        target="_blank"
        >Govindarajan Kunde-Ramamoorthy</a
      >, Ph.D., Associate Director, Computational Sciences
      <br />
      &nbsp;&nbsp;<a
        href="https://www.jax.org/research-and-faculty/research-labs/the-bult-lab"
        target="_blank"
        >Jill Recla</a
      >, Ph.D., Bioinformatics Analyst II
      <br />
      &nbsp;&nbsp;<a href="" target="_blank">Omoluyi Adesanya</a>
    </p>

    <h2><clr-icon shape="ruler-pencil" size="24"></clr-icon> Design</h2>
    <p>
      The website and logo () are designed by
      <a href="https://www.jax.org/people/anna-lamoureux" target="_blank"
        >Anna Lamoureux</a
      >
      and The Jackson Laboratory Creative Services team.
    </p>

    <h2>Icons</h2>
    <p></p>

    <h2>Copyrights and Licenses</h2>
    <p>
      &copy; 2019 The Jackson Laboratory.
      <br />
      All content on this website is licensed under the Creative Commons
      Attribution license (CC BY). Copyright of the linked papers is with the
      publishers.
    </p>
  </div>
</div>
