<div class="content-container">
  <div class="content-area">
    <div class="clr-row">
      <div class="clr-col-12">
        <h2>What is JAX Synteny Browser?</h2>
        <p>
          The JAX Synteny Browser is an interactive, genome-agnostic, web-based
          application that allows researchers to select or highlight features
          based on annotated biological properties in reference and comparison
          genomes in the context of regions of conserved synteny (a condition in
          which shared ancestry is reflected as similar genome feature content
          and order along a chromosome in a different species) between the two
          genomes.
        </p>
        <p>
          While it is genome-agnostic, the online JAX Synteny Browser is
          preloaded and configured for comparing mouse, rat and human genomes
          along with feature annotations for Gene Ontology (all species),
          Disease Ontology (human), and Mammalian Phenotype Ontology (mouse
          &amp; rat). The application is open-source so if additional species or
          ontologies are of interest to you, assuming that you have access to
          the necessary source data (see the Data Prep and Config Files pages
          for more information), you can load a custom version of the database
          and API and view the custom set of data using a local version of the
          client application as well.
        </p>
      </div>
    </div>

    <div class="clr-row">
      <div class="clr-col-md-12 clr-col-lg-6">
        <h4><clr-icon shape="users" size="18"></clr-icon>Core Contributors</h4>

        <p>
          <a href="https://www.jax.org/people/anna-lamoureux" target="_blank">
            Anna Lamoureux, B.S.
          </a>
          &mdash; Scientific Software Engineer; UX/UI design &amp; Angular
          development
        </p>

        <p>
          <a href="https://github.com/pjhale" target="_blank">
            Paul Hale, M.S.
          </a>
          &mdash; Bioinformatics Analyst I; data generation &amp; curation
        </p>

        <p>
          <a
            href="https://www.jax.org/people/georgi-kolishovski"
            target="_blank"
          >
            Georgi Kolishovski, M.S.
          </a>
          &mdash; Scientific Software Engineer; database &amp; microservice
          development
        </p>

        <p>
          Al Simons &mdash; Principal Scientific Software Engineer; legacy data
          loading &amp; database management
        </p>

        <h4><clr-icon shape="users" size="18"></clr-icon>Advisors</h4>
        <p>
          <a
            href="https://www.jax.org/research-and-faculty/faculty/carol-bult"
            target="_blank"
          >
            Carol J. Bult, Ph.D.
          </a>
          &mdash; Professor, Knowlton Family Chair
        </p>
        <p>
          <a
            href="https://www.jax.org/research-and-faculty/faculty/research-scientists/joel-richardson"
            target="_blank"
          >
            Joel E. Richardson, Ph.D.
          </a>
          &mdash; Senior Research Scientist
        </p>
        <p>
          <a
            href="https://www.jax.org/people/govindarajan-kunde-ramamoorthy"
            target="_blank"
          >
            Govindarajan Kunde-Ramamoorthy, Ph.D.
          </a>
          &mdash; Associate Director, Computational Sciences
        </p>
        <p>
          Jill Recla, Ph.D. &mdash; Bioinformatics Analyst II
        </p>
        <p>
          Omoluyi Adesanya
        </p>

        <h4><clr-icon shape="code" size="18"></clr-icon>Source Code</h4>

        <p>
          All code for JAX Synteny Browser is open source and available under
          the JAX Non-Commercial Licence:
        </p>

        <p>
          <img src="../assets/github-mark-32.png" height="16" width="16" />
          <a href="{{ sourceCode.client }}" target="_blank"
            >Client Angular Application</a
          >
        </p>
        <p>
          <img src="../assets/github-mark-32.png" height="16" width="16" />
          <a href="{{ sourceCode.api }}" target="_blank">Flask RestPlus API</a>
        </p>
        <p>
          <img src="../assets/github-mark-32.png" height="16" width="16" />
          <a href="{{ sourceCode.etl }}" target="_blank">ETL Scripts</a>
        </p>
        <p>
          <clr-icon shape="file-group" size="16"></clr-icon>
          <a href="{{ sourceData }}" target="_blank"> Source Data (MGI)</a>
        </p>
      </div>

      <div class="clr-col-md-12 clr-col-lg-6">
        <h4><clr-icon shape="file-group" size="18"></clr-icon>Citation</h4>
        <p class="citation">
          Kolishovski, G., Lamoureux, A., Hale, P. <i>et al</i>. The JAX Synteny
          Browser for mouse-human comparative genomics. <i>Mammalian Genome</i>
          <b> 30</b>, 353–361 (2019).<br />
          <a href="https://doi.org/10.1007/s00335-019-09821-4">
            https://doi.org/10.1007/s00335-019-09821-4
          </a>
        </p>

        <h4><clr-icon shape="envelope" size="18"></clr-icon>Contact</h4>
        <p>
          <b>General</b>: Carol J. Bult, Ph.D. &mdash;
          <a href="mailto:carol.bult@jax.org">email</a>
        </p>
        <p>
          <b>Bugs &amp; Technical Questions</b>: Synteny Browser Support &mdash;
          <a href="mailto:synbrowser-support@jax.org">email</a>
        </p>

        <h4>
          <clr-icon shape="scroll" size="18"></clr-icon>Copyrights and Licenses
        </h4>

        <p>
          &copy; 2021 The Jackson Laboratory.
          <br />
          All content on this website is licensed under the Creative Commons
          Attribution license (CC BY). Copyright of the linked papers is with
          the publishers.
        </p>
      </div>
    </div>
  </div>
</div>
