<div id="filter-modal-container" class="clr-row">
  <!-- Side navigation -->
  <clr-vertical-nav class="clr-col-2">
    <a
      *ngFor="let pg of navigation"
      clrVerticalNavLink
      (click)="activePage = pg.value"
      [ngStyle]="{ 'font-weight': activePage === pg.value ? 'bold' : 'normal' }"
    >
      {{ pg.name | titlecase }}
    </a>
  </clr-vertical-nav>

  <!-- Page/tab content-->
  <div class="clr-col-10">
    <!-- Current filters -->
    <div *ngIf="refSpecies && compSpecies" class="clr-row clr-col-12 top-1">
      <div class="clr-col-12 label-container">
        <!-- No filters message -->
        <div *ngIf="!createdFilters.length" class="no-filters">
          No filters yet; when filters are created, they will appear here
        </div>

        <!-- Labels -->
        <div *ngIf="createdFilters.length">
          <span
            *ngFor="let f of createdFilters"
            class="label"
            (click)="editFilter(f)"
            [ngClass]="{ 'label-info': !f.hides(), 'label-danger': f.hides() }"
          >
            {{ f.filterLabel }}
            <clr-icon shape="close" (click)="removeFilter(f)"></clr-icon>
          </span>
        </div>
      </div>
    </div>

    <!-- Filter editing page/tab -->
    <div *ngIf="activePage === 'edit'" id="edit-filters" class="clr-col-12">
      <!-- Content -->
      <div class="clr-row clr-col-12">
        <div class="clr-row clr-col-12 clr-justify-content-center">
          <h5>{{ currentFilter.created ? "Edit" : "Create New" }} Filter</h5>
        </div>

        <!-- Current filter -->
        <div *ngIf="currentFilter" class="clr-row clr-col-12 top-1 bottom-1">
          <!-- Mode select -->
          <clr-select-container>
            <label for="mode"> Mode </label>

            <select clrSelect id="mode" [(ngModel)]="currentFilter.mode">
              <option value="highlight"> Highlight </option>
              <option value="hide"> Hide </option>
            </select>
          </clr-select-container>

          <h6>features</h6>

          <!-- Dropdown menu system -->
          <clr-dropdown style="max-width: 350px">
            <button class="btn" clrDropdownTrigger
                    title="{{ currentFilter.filterByButtonText || 'Select filter condition' }}">
              {{
                currentFilter.filterByButtonText || "Select filter condition"
              }}
              <clr-icon shape="caret down"></clr-icon>
            </button>
            <clr-dropdown-menu clrPosition="bottom-left" *clrIfOpen>
              <!-- Select species -->
              <clr-dropdown *ngFor="let s of currentFilter.speciesOptions">
                <button
                  clrDropdownTrigger
                  (click)="currentFilter.selectSpecies(s)"
                >
                  In {{ s }}
                </button>

                <!-- Select aspect to filter by -->
                <clr-dropdown-menu>
                  <clr-dropdown>
                    <button
                      clrDropdownTrigger
                      (click)="filterByAttribute('type')"
                    >
                      by type
                    </button>

                    <!-- Select type -->
                    <clr-dropdown-menu id="type-menu" clrPosition="left-top">
                      <button
                        *ngFor="let t of getFeatureTypes(currentFilter)"
                        (click)="filterByType(t)"
                        clrDropdownItem
                      >
                        {{ t }}
                      </button>
                    </clr-dropdown-menu>
                  </clr-dropdown>

                  <clr-dropdown>
                    <button
                      clrDropdownTrigger
                      (click)="filterByAttribute('id')"
                    >
                      by ID
                    </button>

                    <!-- Select ID qualifier -->
                    <clr-dropdown-menu>
                      <button
                        clrDropdownItem
                        (click)="filterQualifier('equal')"
                      >
                        that equals...
                      </button>
                      <button
                        clrDropdownItem
                        (click)="filterQualifier('like')"
                      >
                        that is like...
                      </button>
                    </clr-dropdown-menu>
                  </clr-dropdown>

                  <clr-dropdown>
                    <button
                      clrDropdownTrigger
                      (click)="filterByAttribute('symbol')"
                    >
                      by symbol
                    </button>

                    <!-- Select symbol qualifier -->
                    <clr-dropdown-menu>
                      <button
                        clrDropdownItem
                        (click)="filterQualifier('equal')"
                      >
                        that equals...
                      </button>
                      <button
                        clrDropdownItem
                        (click)="filterQualifier('like')"
                      >
                        that is like...
                      </button>
                    </clr-dropdown-menu>
                  </clr-dropdown>

                  <div
                    class="dropdown-divider"
                    role="separator"
                    aria-hidden="true"
                  ></div>

                  <clr-dropdown>
                    <button clrDropdownTrigger>by ontology term</button>

                    <!-- Select ontology -->
                    <clr-dropdown-menu clrPosition="left-top">
                      <button
                        *ngFor="let o of currentFilter.ontologies"
                        (click)="filterByOntology(o.value)"
                        clrDropdownItem
                      >
                        from {{ o.name }}
                      </button>
                    </clr-dropdown-menu>
                  </clr-dropdown>
                </clr-dropdown-menu>
              </clr-dropdown>
            </clr-dropdown-menu>
          </clr-dropdown>

          <!-- Input for ID or symbol -->
          <clr-input-container *ngIf="currentFilter.inputNeeded && currentFilter.qualifier">
            <label for="filter-value">{{ currentFilter.filterBy }}</label>

            <input
              id="filter-value"
              clrInput
              [(ngModel)]="currentFilter.value"
              (ngModelChange)="currentFilter.setLabel()"
            />
          </clr-input-container>

          <!-- Autocomplete for ontology term -->
          <ng-select
            *ngIf="currentFilter.filtersOnOntology()"
            class="autocomplete"
            bindLabel="name"
            bindValue="id"
            [items]="data.ontologyTerms[currentFilter.ontology]"
            [virtualScroll]="true"
            placeholder="Enter a term"
            [(ngModel)]="currentFilter.value"
            (change)="checkTermChildren()"
          >
          </ng-select>

          <ng-container *ngIf="currentFilter.isComplete()">
            <!-- Filter name button -->
            <clr-input-container>
              <label for="filter-name"> Name the filter </label>

              <input
                id="filter-name"
                clrInput
                [disabled]="!currentFilter.value"
                [(ngModel)]="currentFilter.filterLabel"
              />
            </clr-input-container>

            <!-- Finish filter button -->
            <button
              type="button"
              class="btn btn-success btn-icon top-0"
              title="Finish the filter"
              [disabled]="!currentFilter.value"
              (click)="finishFilter()"
            >
              <clr-icon shape="check"></clr-icon>
            </button>
          </ng-container>
        </div>
      </div>
    </div>

    <!-- Filter results preview page/tab -->
    <div
      *ngIf="activePage === 'preview'"
      id="preview-filters"
      class="clr-col-12"
    >
      <!-- Content -->
      <div *ngIf="refSpecies && compSpecies" class="clr-row clr-col-12 top-1">
        <!-- Filter results table -->
        <div id="filter-results" class="clr-col-12">
          <!-- Title -->
          <div class="clr-row clr-col-12 clr-justify-content-center">
            <h5>Results of Filters</h5>
          </div>

          <!-- Description -->
          <div class="clr-row clr-justify-content-center">
            <p>
              Blue rows are features that will be highlighted while red rows are
              features that will be hidden. Features that match both a hiding
              and highlighting filter will default to highlighting.
            </p>
          </div>

          <!-- Results table -->
          <clr-datagrid *ngIf="filteredGenes" class="datagrid-compact">
            <clr-dg-column
              *ngFor="let attr of ['type', 'id', 'symbol', 'chr', 'species']"
            >
              {{ attr }}
            </clr-dg-column>
            <clr-dg-column> filters </clr-dg-column>

            <clr-dg-placeholder> No genes to show! </clr-dg-placeholder>

            <clr-dg-row
              *clrDgItems="let row of filteredGenes"
              [ngClass]="{ 'hidden-row': row.hidden }"
            >
              <clr-dg-cell
                *ngFor="let attr of ['type', 'id', 'symbol', 'chr', 'species']"
              >
                {{ row[attr] }}
              </clr-dg-cell>
              <clr-dg-cell> {{ row.filters.join(", ") }} </clr-dg-cell>
            </clr-dg-row>

            <!-- Table pagination -->
            <clr-dg-footer>
              <clr-dg-pagination #pag [clrDgPageSize]="15">
                <clr-dg-page-size [clrPageSizeOptions]="[15, 25, 50, 100]">
                  Features per page
                </clr-dg-page-size>
                <ng-container *ngIf="filteredGenes.length">
                  {{ pag.firstItem + 1 }} - {{ pag.lastItem + 1 }} of
                  {{ pag.totalItems }}
                </ng-container>
                <ng-container *ngIf="!filteredGenes.length">
                  0 of 0
                </ng-container>
              </clr-dg-pagination>
            </clr-dg-footer>
          </clr-datagrid>
        </div>
      </div>

      <!-- Buttons -->
      <div *ngIf="filteredGenes.length" class="clr-row clr-justify-content-start top-1">
        <!-- Download table button -->
        <button type="button" class="btn btn-outline" (click)="downloadTable()">
          <clr-icon shape="download"></clr-icon> Download Table
        </button>
      </div>
    </div>

    <!-- Filter guide page/tab -->
    <div *ngIf="activePage === 'guide'" id="guide" class="clr-col-12">
      <!-- Content -->
      <filtering-guide></filtering-guide>
    </div>
  </div>
</div>
