<div *ngIf="refSpecies" class="clr-row">
  <clr-select-container class="clr-col-6">
    <label for="search-type"> search type </label>
    <select clrSelect id="search-type"
            [(ngModel)]="searchType"
            (ngModelChange)="setTypeDependentElements()">
      <option *ngFor="let type of refSpecies.searchTypes"
              [value]="type.name"
              [disabled]="type.search_type === 'OntAnnotation'">
        {{ refSpecies.commonName + ': ' + type.value }}
      </option>
    </select>
  </clr-select-container>

  <clr-input-container>
    <label for="search-term"> search term </label>
    <input id="search-term" clrInput
           [(ngModel)]="search"
           [placeholder]="searchPlaceholder"
           (keyup)="searchForFeatures()">
  </clr-input-container>
</div>
<div class="clr-row">
  <clr-datagrid [clrDgSelected]="selections"
                (clrDgSelectedChange)="updateSelections($event)"
                [clDgRowSelection]="true" class="col-lg-12">
    <clr-dg-placeholder> Start searching for features! </clr-dg-placeholder>
    <clr-dg-column *ngFor="let col of displayColumns"
                   [clrDgSortBy]="getComparator(col)">
      {{ col.replace('_', ' ') }}
    </clr-dg-column>

    <clr-dg-row *clrDgItems="let row of rows" [clrDgItem]="row">
      <clr-dg-cell *ngFor="let col of displayColumns">
        {{ row[col] }}
      </clr-dg-cell>
    </clr-dg-row>

    <clr-dg-footer>
      <!-- Clarity doesn't really handle non-paginated results very well so if
      proper pagination is required, show that, otherwise, use custom label -->
      <clr-dg-pagination #pagination [clrDgPageSize]="10">
        {{ getPaginatorLabel(pagination) }}
      </clr-dg-pagination>
    </clr-dg-footer>
  </clr-datagrid>
</div>
<div class="clr-row">
  <h4>Current selections</h4>
  <br/>
  <div id="label-container" class="col-lg-12">
    <div *ngIf="currentSelections.length === 0" class="no-selections">
      No selections have been made yet
    </div>
    <div *ngIf="currentSelections.length > 0">
      <span *ngFor="let sel of currentSelections" class="label label-light-blue">
        {{ sel }}
        <clr-icon shape="close" (click)="removeSelection(sel)"></clr-icon>
      </span>
    </div>
  </div>
</div>
