<div *ngIf="genomeData" id="genome-view-container">
  <svg [attr.viewBox]="'0 0 ' + width + ' ' + width"
       preserveAspectRatio="xMinYMin meet">
    <!-- Referemce plot -->
    <g id="reference-plot" [attr.transform]="getCenter()">
      <!-- Reference genome synteny blocks -->
      <g id="ref-blocks">
        <path *ngFor="let blk of genomeData"
              [attr.d]="getBlockBandPath(refRadii, refGMap, blk)"
              [attr.fill]="blk.getColor()"
              (click)="renderChordMapForChr(blk.refChr)">
        </path>
      </g>

      <!-- Reference chromosome bands (transparent containers) -->
      <g id="ref-bands">
        <path *ngFor="let chr of getChromosomes(ref.genome)"
              [attr.d]="getChrBandPath(refRadii, refGMap, chr, ref.genome)"
              (click)="renderChordMapForChr(chr)"
              (mouseenter)="revealTooltip(chr, ref, $event)"
              (mouseleave)="tooltip.clear()">
        </path>
      </g>

      <!-- Reference genome labels -->
      <g id="ref-labels">
        <text *ngFor="let chr of getChromosomes(ref.genome)"
              [attr.transform]="getRefLabelPos(chr, refGMap)"
              (click)="renderChordMapForChr(chr)">
          {{ chr }}
        </text>
      </g>

      <!-- Blocks containing selected features -->
      <g *ngIf="featureBlocks" id="feature-blocks">
        <path *ngFor="let blk of featureBlocks"
              [attr.d]="getBlockBandPath(featureRadii, refGMap, blk)"
              [attr.fill]="blk.getColor()"
              (click)="renderChordMapForChr(blk.refChr)">
        </path>
      </g>
    </g>

    <g *ngIf="!refChr" id="comparison-plot" [attr.transform]="getCenter()">
      <!-- Comparison genome bands -->
      <g id="comp-bands">
        <path *ngFor="let chr of getChromosomes(comp.genome)" class="inner"
              [attr.d]="getChrBandPath(compRadii, compGMap, chr, comp.genome)"
              [attr.fill]="getChrColor(chr)"
              (mouseenter)="revealTooltip(chr, comp, $event)"
              (mouseleave)="tooltip.clear()">
        </path>
      </g>

      <!-- Comparison genome labels -->
      <g id="comp-labels">
        <text *ngFor="let chr of getChromosomes(comp.genome)"
              [attr.transform]="getCompLabelPos(chr, compGMap)">
          {{ chr }}
        </text>
      </g>
    </g>

    <g *ngIf="refChr" id="comparison-plot" [attr.transform]="getCenter()">
      <!-- Reference chromosome-->
      <g id="ref-band">
        <!-- Reference chromosome band (transparent container) -->
        <path class="band" [attr.d]="getInnerRefBlockBandPath()"></path>

        <!-- Reference chromosome syntenic bands -->
        <path *ngFor="let blk of refChr.blocks"
              [attr.d]="getBlockBandPath(compRadii, compGMap, blk, true)"
              [attr.fill]="blk.getColor()">
        </path>
      </g>

      <!-- Comparison genome bands -->
      <g id="comp-bands">
        <path *ngFor="let chr of getChromosomes(comp.genome)" class="inner"
              [attr.d]="getChrBandPath(compRadii, compGMap, chr, comp.genome)"
              [attr.fill]="getChrColor(chr)"
              (mouseenter)="revealTooltip(chr, comp, $event)"
              (mouseleave)="tooltip.clear()">
        </path>
      </g>

      <!-- Mapping chords from reference to comparison -->
      <g id="chord-mapping">
        <path *ngFor="let blk of refChr.blocks" class="chord"
              [attr.d]="getChordPath(compRadii.ringInner, compGMap, blk)"
              [attr.fill]="blk.getColor()"
              [attr.stroke]="blk.getColor()" >
        </path>
      </g>

      <!-- Comparison genome labels -->
      <g id="comp-labels">
        <text *ngFor="let chr of getChromosomes(tempCompGenome)"
              [attr.transform]="getCompLabelPos(chr, compGMap, true)">
          {{ chr }}
        </text>
      </g>
    </g>
  </svg>

  <!-- Tooltip -->
  <app-tooltip #tooltip id="tt"
               [ngStyle]="{
                            'left': this.tooltip.offsetX,
                            'top': this.tooltip.offsetY,
                            'display': this.tooltip.getDisplay()
                          }">
  </app-tooltip>
</div>
