#genome-view-container {
  display: inline-block;
  position: relative;
  width: 100%;
  vertical-align: top;
  overflow: hidden;
}

#genome-view {
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
}

.outer-chr-band {
  stroke: black;
  stroke-width: 0.25;
  fill: transparent;
}

.inner {
  stroke: black;
  stroke-width: 0.25;
}

.ref-block-band { stroke: none; }

.chord { stroke-width: 0.3; }

#genome-view-container text { font-size: 12px; }
