<div class="main-container">
  <header class="header-4">
    <div class="branding">
      <a [routerLink]="['']" class="nav-link">
        <img id="logo" src="../assets/jax-logo.png" alt="The Jackson Laboratory">
        <span class="title">SYNTENY BROWSER</span>
      </a>
    </div>
  </header>
  
  <nav class="subnav">
    <ul class="nav">
      <li *ngFor="let page of getPages()" class="nav-item">
        <a class="nav-link" [ngClass]="{ 'active': isActive(page) }"
           (click)="setActive(page)"
           [routerLink]="pages[page]">
          {{ page }}
        </a>
      </li>
    </ul>
  </nav>
  
  <router-outlet></router-outlet>
</div>
