p {
  margin-top: 0;
}

.p6 {
  margin-top: .2em !important;
}

pre {
  background-color:#EEEEEE;
  padding-left: 25px;
  max-height: unset !important;
}

code {
  color: #688DB2;
  font-family: Consolas, Menlo, Monaco, monospace;
  line-height: 1;
  font-size: 1em;
}

ul {
  list-style-position: outside;
}

.no-wrap {
  white-space:nowrap;
}

.line-height-12 {
  line-height: 1.2;
}

.table-link {
  text-decoration: none;
  border-bottom: dashed 1px;
}

.image-container {
  float: left;
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  max-width: 250px;
  text-align: center;
  margin: 5px;

  img {
    cursor: pointer;
    width: 100%;
  }
}

.sidenav {
  max-width: 300px;
  width: 15%;
  padding-top: 1.5em;

  .sidenav-content .nav-link {
    margin: .5em 0;
    width: unset;
    text-align: right;
    display: block;
    padding-right: 8px;
  }
}

.clr-icon {
  margin-top: -4px;
}

.modal-body {
  text-align: center;

  img {
    max-width: 100%;
  }
}
