#browser-container {
  display: inline-block;
  position: relative;
  width: 100%;
  vertical-align: top;
  overflow: hidden;
}

#block-view {
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
}

#orientation-indicators path {
  stroke: #F00;
  stroke-width: 0.5;
}

.hor-rule {
  stroke: #AAA;
  stroke-width: 0.5;
}

#chromosome-view {
  #bg { fill: transparent; }
}

#browser-bg { fill: white; }

rect.reference, rect.comparison {
  stroke-width: 1;
}

rect.gene {
  height: 5px;
  fill: black;
  fill-opacity: 0.5;
}

#reference-interval-coordinates text,
#comparison-interval-coordinates text {
  font-size: 10px;
}
