#browser-container {
  display: inline-block;
  position: relative;
  width: 100%;
  vertical-align: top;
  overflow: hidden;
  text-align: center;
}

#block-view {
  display: inline-block;
  position: relative;
  top: 0;
  left: 0;
}

h2 { margin-top: 0; }

#browser-bg { fill: transparent; }

.trans-bg { fill: transparent; }

.bg { width: 1200px; }

#progress-bar { fill: #006A91; }

#loading-overlay {
  fill: #FFF;
  fill-opacity: 0.5;
  stroke: none;
}

.group-dropdown {
  border-radius: 0 !important;
  border-left: none !important;
  border-right: none !important;
}

#filters {
  min-height: 36px !important;
  border-radius: 3px !important;
}

#block-view-tools { text-align: left; }

.block-view-option {
  padding: 0 1em;
  color: #0079b8;
  min-width: 0;
}

clr-input-container { margin-top: 10px !important; }

.no-selections { color: #AAA; }

.filter-labels { text-align: left; }

clr-checkbox-wrapper .clr-control-label {
  line-height: 12px;
  margin-bottom: 0.75em;
  padding-top: 6px;
  text-align: left;
}

#reference-interval-info {
  margin-left: 10px;
  margin-top: 23px;
  height: 20px;
}

clr-signpost-content {
  h4 {
    margin-top: 0;
    padding-bottom: 0.5em;
    border-bottom: 0.5px #AAA solid;
    margin-bottom: 0.75em;
  }

  span {
    color: red;
    font-size: 10px;
  }
}

#tt {
  font-size: 10px;

  tspan, text.title { font-weight: bold; }

  text.title {
    text-anchor: middle;
    font-size: 12px;
  }

  rect {
    fill: #FFF;
    fill-opacity: 0.7;
    width: 1200px;
  }
}

.modal-body p {
  margin-top: 0.2rem;
  margin-left: 0.75rem;
}

#reference-interval-input {
  p {
    padding-top: 0.25rem;
    border-bottom: 1px solid #9a9a9a !important;
    cursor: default;
    text-decoration: none;
  }

  .signpost-content {
    max-width: 17rem !important;
  }
}

