#genome-view-container {
  display: inline-block;
  position: relative;
  width: 100%;
  vertical-align: top;
  overflow: hidden;

  text {
    font-size: 12px;
    text-anchor: middle;
  }
}

#ref-bands path, #ref-band .band {
  stroke: black;
  stroke-width: 0.25;
  fill: transparent;
}

.inner {
  stroke: black;
  stroke-width: 0.25;
}

.chord { stroke-width: 0.3; }
