<div id="genome-view-container">
  <div class="clr-row clr-justify-content-end">
    <button class="btn" (click)="filenameModalOpen = true">
      <clr-icon shape="download"></clr-icon> Download
    </button>
  </div>
  <svg id="genome-view-svg" font-family="Metropolis, sans-serif" font-size="12"
       [attr.viewBox]="'0 0 ' + width + ' ' + width"
       preserveAspectRatio="xMinYMin meet">
    <defs>
      <path *ngIf="genomeData" id="ref-label"
            [attr.d]="getSpeciesLabelPath(refRadii, refGMap, ref.genome)">
      </path>
      <path *ngIf="genomeData" id="comp-label"
            [attr.d]="getSpeciesLabelPath(compRadii, compGMap, comp.genome)">
      </path>
      <text *ngIf="ref" id="ref-species-abbrev">{{ ref.abbrev }}</text>
      <text *ngIf="comp" id="comp-species-abbrev">{{ comp.abbrev }}</text>
    </defs>

    <!-- Background -->
    <rect [attr.width]="width" [attr.height]="width" fill="#FFF"></rect>

    <!-- Non-syntenic selected features -->
    <g *ngIf="featuresNoBlocks && featuresNoBlocks.length > 0" id="non-syntenic"
       [attr.transform]="translate(5, 8)">
      <text font-weight="bold">Non-syntenic Features</text>

      <text *ngFor="let f of featuresNoBlocks | slice:0:4; let i=index"
            [attr.transform]="translate(0, (11 * i) + 12)">
        {{ f.symbol }}, Chr{{ f.chr }}
      </text>
      <text *ngIf="featuresNoBlocks.length > 4"
            [attr.transform]="translate(0, 56)">
        and {{ featuresNoBlocks.length - 4 }} more...
      </text>
    </g>

    <!-- Genome plots -->
    <g *ngIf="genomeData" [attr.transform]="getCenter()">
      <!-- Reference ring -->
      <g id="reference-plot">
        <!-- Reference genome synteny blocks -->
        <g id="ref-blocks">
          <path *ngFor="let blk of genomeData"
                [attr.d]="getBlockBandPath(refRadii, refGMap, blk)"
                [attr.fill]="blk.getColor()"
                (click)="renderChordMapForChr(blk.refChr)">
          </path>
        </g>

        <text class="species-label" font-weight="bold" font-size="28" fill="#999"
              (mouseenter)="tooltipContent = { title: 'Reference Species', species: ref.name }"
              (mouseleave)="hideTooltip()">
          <textPath xlink:href="#ref-label"
                    [attr.textLength]="getSpeciesLabelWidth('ref') - 2">
            {{ ref.abbrev }}
          </textPath>
        </text>

        <!-- Reference chromosome bands (transparent containers) -->
        <g id="ref-bands">
          <path *ngFor="let chr of getChromosomes(ref.genome)"
                stroke="#000" stroke-width="0.25" fill="transparent"
                [attr.d]="getChrBandPath(refRadii, refGMap, chr, ref.genome)"
                (click)="renderChordMapForChr(chr)"
                (mouseenter)="getTooltipContent(ref, chr)"
                (mouseleave)="hideTooltip()">
          </path>
        </g>

        <!-- Reference genome labels -->
        <g id="ref-labels">
          <text *ngFor="let chr of getChromosomes(ref.genome)" text-anchor="middle"
                [attr.transform]="getRefLabelPos(chr, refGMap)"
                (click)="renderChordMapForChr(chr)">
            {{ chr }}
          </text>
        </g>

        <!-- Blocks containing selected features -->
        <g *ngIf="featureBlocks" id="feature-blocks">
          <path *ngFor="let blk of featureBlocks"
                [attr.d]="getBlockBandPath(featureRadii, refGMap, blk)"
                [attr.fill]="blk.getColor()"
                (click)="renderChordMapForChr(blk.refChr)">
          </path>
        </g>
      </g>

      <!-- Comparison ring (no selected reference chr) -->
      <g *ngIf="!refChr" id="comparison-plot">
        <text class="species-label" font-weight="bold" font-size="28" fill="#999"
              (mouseenter)="tooltipContent = { title: 'Comparison Species', species: comp.name }"
              (mouseleave)="hideTooltip()">
          <textPath xlink:href="#comp-label"
                    [attr.textLength]="getSpeciesLabelWidth('comp') - 3">
            {{ comp.abbrev }}
          </textPath>
        </text>

        <!-- Comparison genome bands -->
        <g id="comp-bands">
          <path *ngFor="let chr of getChromosomes(comp.genome)"
                stroke="#000" stroke-width="0.25"
                [attr.d]="getChrBandPath(compRadii, compGMap, chr, comp.genome)"
                [attr.fill]="getChrColor(chr)"
                (mouseenter)="getTooltipContent(comp, chr)"
                (mouseleave)="hideTooltip()">
          </path>
        </g>

        <!-- Comparison genome labels -->
        <g id="comp-labels">
          <text *ngFor="let chr of getChromosomes(comp.genome)" text-anchor="middle"
                [attr.transform]="getCompLabelPos(chr, compGMap)">
            {{ chr }}
          </text>
        </g>
      </g>

      <!-- Comparison ring (with selected reference chr) -->
      <g *ngIf="refChr" id="comparison-plot">
        <text class="species-label" font-weight="bold" font-size="28" fill="#999"
              (mouseenter)="tooltipContent = { title: 'Comparison Species', species: comp.name }"
              (mouseleave)="hideTooltip()">
          <textPath xlink:href="#comp-label"
                    [attr.textLength]="getSpeciesLabelWidth('comp') - 3">
            {{ comp.abbrev }}
          </textPath>
        </text>

        <!-- Reference chromosome-->
        <g id="ref-band">
          <!-- Reference chromosome band (transparent container) -->
          <path stroke="#000" stroke-width="0.25" fill="transparent"
                [attr.d]="getInnerRefBlockBandPath()">
          </path>

          <!-- Reference chromosome syntenic bands -->
          <path *ngFor="let blk of refChr.blocks"
                [attr.d]="getBlockBandPath(compRadii, compGMap, blk, true)"
                [attr.fill]="blk.getColor()">
          </path>
        </g>

        <!-- Comparison genome bands -->
        <g id="comp-bands">
          <path *ngFor="let chr of getChromosomes(comp.genome)" class="inner"
                [attr.d]="getChrBandPath(compRadii, compGMap, chr, comp.genome)"
                [attr.fill]="getChrColor(chr)"
                (mouseenter)="getTooltipContent(comp, chr)"
                (mouseleave)="hideTooltip()">
          </path>
        </g>

        <!-- Mapping chords from reference to comparison -->
        <g id="chord-mapping">
          <path *ngFor="let blk of refChr.blocks" stroke-width="0.3"
                [attr.d]="getChordPath(compRadii.ringInner, compGMap, blk)"
                [attr.fill]="blk.getColor()"
                [attr.stroke]="blk.getColor()">
          </path>
        </g>

        <!-- Comparison genome labels -->
        <g id="comp-labels">
          <text *ngFor="let chr of getChromosomes(tempCompGenome)" text-anchor="middle"
                [attr.transform]="getCompLabelPos(chr, compGMap, true)">
            {{ chr.includes('ref') ? chr.replace('ref', ref.abbrev + ', chr') : chr }}
          </text>
        </g>
      </g>

      <!-- Tooltip Content -->
      <g *ngIf="tooltipContent" id="gv-tooltip">
        <text id="tt-title">{{ tooltipContent.title }}</text>
        <text *ngIf="tooltipContent.chr" id="tt-chr" [attr.dy]="13">
          Chr {{ tooltipContent.chr }}
        </text>
        <text *ngIf="tooltipContent.species" id="tt-species" [attr.dy]="13">
          {{ tooltipContent.species }}
        </text>
      </g>
    </g>
  </svg>
</div>

<clr-modal [(clrModalOpen)]="filenameModalOpen">
  <h3 class="modal-title">Download SVG</h3>
  <div class="modal-body">
    <h4>Choose a Filename</h4>
    <div class="clr-row bottom-1 left-1">
      <p><i>Downloaded files will be in PNG format</i></p>
      <div class="clr-col-7">
        <clr-input-container style="margin-top: 0.4rem;">
          <label for="filename-input"></label>

          <input id="filename-input" clrInput placeholder="Name the file (.png)"
                 [(ngModel)]="downloadFilename">
        </clr-input-container>
      </div>
      <div class="clr-col">
        <button class="btn" [disabled]="downloadFilename === ''"
                (click)="download()">
          OK
        </button>
      </div>
    </div>
  </div>
</clr-modal>
