<div id="genome-view-container">
  <svg
    id="genome-view-svg"
    font-family="Metropolis, sans-serif"
    font-size="12"
    [attr.viewBox]="'0 0 ' + width + ' ' + height"
    preserveAspectRatio="xMinYMin meet"
  >
    <!-- Background -->
    <rect [attr.width]="width" [attr.height]="width" fill="#FFF"></rect>

    <!-- Non-syntenic selected features -->
    <g
      *ngIf="featuresNoBlocks && featuresNoBlocks.length > 0"
      font-size="11" id="non-syntenic-feature-list"
      [attr.transform]="translate(5, 46)"
    >
      <text font-weight="bold">Non-syntenic Features</text>

      <text
        *ngFor="let f of featuresNoBlocks | slice: 0:4; let i = index"
        [attr.transform]="translate(0, 11 * i + 12)"
      >
        {{ f.symbol }}, Chr{{ f.chr }}
      </text>
      <text
        *ngIf="featuresNoBlocks.length > 4"
        [attr.transform]="translate(0, 56)"
      >
        and {{ featuresNoBlocks.length - 4 }} more...
      </text>
    </g>

    <!-- Genome plots -->
    <g *ngIf="getGenomeBlocks()" [attr.transform]="getCenter()">
      <!-- Reference ring -->
      <g id="reference-plot">
        <g *ngIf="features" id="ref-band-legend-lines" font-size="8">
          <g *ngFor="let chr of getChrsWithFeatures()">
            <path
              stroke="#000"
              stroke-width="0.5"
              fill="transparent"
              [attr.d]="getLegendPath(chr)"
            ></path>
            <g [attr.transform]="getLegendListPosition(chr)">
              <text
                *ngFor="
                  let f of getChrFeatures(chr) | slice: 0:3;
                  let i = index
                "
                [attr.transform]="getLegendListItemPosition(chr, i)"
                [attr.text-anchor]="getLegendListAlign(chr)"
              >
                {{ f.symbol }}
              </text>
              <text
                *ngIf="getChrFeatures(chr).length > 3"
                [attr.transform]="getLegendListItemPosition(chr, 3)"
                [attr.text-anchor]="getLegendListAlign(chr)"
              >
                and {{ getChrFeatures(chr).length - 3 }} more...
              </text>
            </g>
          </g>
        </g>

        <!-- Reference genome labels -->
        <g id="ref-labels" >
          <g
            *ngFor="let chr of ref.getChromosomes()"
            [attr.transform]="getRefLabelPos(chr, refGMap)"
          >
            <circle r="8" cy="-4" fill="#fff"></circle>
            <text
              text-anchor="middle"
              (click)="renderChordMapForChr(chr)"
            >
              {{ chr }}
            </text>
          </g>
        </g>

        <!-- Reference genome synteny blocks -->
        <g id="ref-blocks">
          <path
            *ngFor="let blk of getGenomeBlocks()"
            [attr.d]="getBlockBandPath(refRadii, refGMap, blk)"
            [attr.fill]="blk.getColor()"
            (click)="renderChordMapForChr(blk.refChr)"
          ></path>
        </g>

        <!-- Reference chromosome bands (transparent containers) -->
        <g id="ref-bands">
          <path
            *ngFor="let chr of ref.getChromosomes()"
            stroke="#000"
            stroke-width="0.25"
            fill="transparent"
            [attr.d]="getChrBandPath(refRadii, refGMap, chr, ref.genome)"
            (click)="renderChordMapForChr(chr)"
            (mouseenter)="getTooltipContent(ref, chr)"
            (mouseleave)="hideTooltip()"
          ></path>
        </g>

        <!-- Blocks containing selected features -->
        <g *ngIf="featureBlocks" id="feature-blocks">
          <path
            *ngFor="let blk of featureBlocks"
            [attr.d]="getBlockBandPath(featureRadii, refGMap, blk)"
            [attr.fill]="blk.getColor()"
            (click)="renderChordMapForChr(blk.refChr)"
          ></path>
        </g>
      </g>

      <!-- Comparison ring (no selected reference chr) -->
      <g *ngIf="!refChr" id="comparison-plot">
        <!-- Comparison genome bands -->
        <g id="comp-bands">
          <path
            *ngFor="let chr of comp.getChromosomes()"
            stroke="#000"
            stroke-width="0.25"
            [attr.d]="getChrBandPath(compRadii, compGMap, chr, comp.genome)"
            [attr.fill]="getChrColor(chr)"
            (mouseenter)="getTooltipContent(comp, chr)"
            (mouseleave)="hideTooltip()"
          ></path>
        </g>

        <!-- Comparison genome labels -->
        <g id="comp-labels">
          <text
            *ngFor="let chr of comp.getChromosomes()"
            text-anchor="middle"
            font-size="11"
            [attr.transform]="getCompLabelPos(chr, compGMap)"
          >
            {{ chr }}
          </text>
        </g>
      </g>

      <!-- Comparison ring (with selected reference chr) -->
      <g *ngIf="refChr" id="comparison-plot">
        <!-- Comparison genome bands -->
        <g id="comp-bands">
          <path
            *ngFor="let chr of comp.getChromosomes()"
            class="inner"
            [attr.d]="getChrBandPath(compRadii, compGMap, chr, comp.genome)"
            [attr.fill]="getChrColor(chr)"
            (mouseenter)="getTooltipContent(comp, chr)"
            (mouseleave)="hideTooltip()"
          ></path>
        </g>

        <!-- Mapping chords from reference to comparison -->
        <g id="chord-mapping">
          <path
            *ngFor="let blk of refChr.blocks"
            stroke-width="0.3"
            [attr.d]="getChordPath(compGMap, blk)"
            [attr.fill]="blk.getColor()"
            [attr.stroke]="blk.getColor()"
          ></path>
        </g>

        <!-- Comparison genome labels -->
        <g id="comp-labels">
          <text
            *ngFor="let chr of comp.getChromosomes()"
            text-anchor="middle"
            font-size="11"
            [attr.transform]="getCompLabelPos(chr, compGMap, true)"
          >
            {{ chr }}
          </text>
        </g>
      </g>

      <!-- Tooltip Content -->
      <g *ngIf="tooltipContent" id="gv-tooltip">
        <text id="tt-title">{{ tooltipContent.title }}</text>
        <text *ngIf="tooltipContent.chr" id="tt-chr" [attr.dy]="13">
          Chr {{ tooltipContent.chr }}
        </text>
        <text *ngIf="tooltipContent.species" id="tt-species" [attr.dy]="13">
          {{ tooltipContent.species }}
        </text>
      </g>
    </g>
  </svg>
</div>

<clr-modal [(clrModalOpen)]="filenameModalOpen">
  <h3 class="modal-title">Download SVG</h3>
  <div class="modal-body">
    <h4>Choose a Filename</h4>
    <div class="clr-row bottom-1 left-1">
      <p><i>Downloaded files will be in PNG format</i></p>
      <div class="clr-col-7">
        <clr-input-container style="margin-top: 0.4rem;">
          <label for="filename-input"></label>

          <input
            id="filename-input"
            clrInput
            placeholder="Name the file (.png)"
            [(ngModel)]="downloadFilename"
          />
        </clr-input-container>
      </div>
      <div class="clr-col">
        <button
          class="btn"
          [disabled]="downloadFilename === ''"
          (click)="download()"
        >
          OK
        </button>
      </div>
    </div>
  </div>
</clr-modal>
