#genome-view-container {
  display: inline-block;
  position: relative;
  width: 100%;
  vertical-align: top;
  overflow: hidden;
  margin-top: 1rem;
}

#genome-view-svg { margin-top: -36px; }

button { z-index: 100; }

#gv-tooltip {
  text-anchor: middle;
  font-size: 14px;

  #tt-title { font-weight: bold; }
}

#ref-species-abbrev,
#comp-species-abbrev {
  font-weight: bold;
  font-size: 28px;
}
