#genome-view-container {
  display: inline-block;
  position: relative;
  width: 100%;
  vertical-align: top;
  overflow: hidden;
}

#genome-view-svg { margin-top: -36px; }

button { z-index: 100; }

#tt-title, #tt-chr { font-size: 14px; }

#tt-title { font-weight: bold; }
