<div class="clr-row clr-col-12">
  <div class="card">
    <div class="card-header"> FIND FEATURES </div>

    <div class="card-block">
      <div class="clr-row clr-col-12">
        <div class="clr-col-xl-7 clr-col-lg-12">
          <div class="clr-row">
            Select the species that you wish to use as reference and comparison
            (or destination).
          </div>

          <app-species-selection (update)="updateSpecies()"></app-species-selection>

          <hr/>

          <app-feature-selection *ngIf="refSpecies"
                                 (update)="updateFeatures()">
          </app-feature-selection>
        </div>

        <div class="clr-col-xl-5 clr-col-lg-12">
          <div class="clr-row">
            <p>
              Hovering over any chromosome will show the species and chromosome
              value of that chromosome. Selecting a reference chromosome will map
              the synteny of that chromsome to regions the comparison genome and
              will let you explore the selected chromosome at a more granular
              level if button below plot is clicked.
            </p>

            <clr-signpost>
              <button class="btn btn-link" clrSignpostTrigger>
                More info
              </button>
              <clr-signpost-content [clrPosition]="'bottom-middle'" *clrIfOpen>
                Searching and selecting features from the table(s) will show the
                features in the plot. Clicking on a chromosome without features
                will show the mapping of the entire chromosome in reference to
                the comparison genome. Clicking on a chromosome with at least
                one selected feature will show the mapping of any syntenic
                regions within that chromosome that contain a selected feature.
              </clr-signpost-content>
            </clr-signpost>
          </div>

          <hr/>

          <!-- Genome view species "legend" -->
          <div *ngIf="refSpecies && compSpecies" class="clr-row">
            <span style="font-weight: bold">
              Outer ring (reference genome): {{ refSpecies.commonName }}
            ({{ refSpecies.name }})
            </span>
            <span style="font-weight: bold">
              Inner ring (comparison genome): {{ compSpecies.commonName }}
              ({{ compSpecies.name }})
            </span>
          </div>

          <app-genome-view *ngIf="refSpecies && compSpecies"
                           (highlightFeatures)="features.highlighted = $event">
          </app-genome-view>
        </div>
      </div>
    </div>

    <div class="card-footer text-right">
      <button class="btn btn-primary"
              [disabled]="!genomeView || !genomeView.refChr"
              (click)="getChromosomeFeatures()">
        <clr-icon shape="check"></clr-icon> See Selection in Block View
      </button>
    </div>
  </div>
</div>

<div *ngIf="viewInBrowser" class="clr-row">
  <div class="clr-col-12 bottom-1" id="block-view">
    <div class="card">
      <div class="card-header"> BLOCK VIEW BROWSER </div>

      <div class="card-block">
        <app-block-view-browser (filter)="filterOpen = true"></app-block-view-browser>
      </div>
    </div>
  </div>
</div>

<clr-modal id="block-view-filters"
           [(clrModalOpen)]="filterOpen"
           [clrModalClosable]="true"
           [clrModalSize]="'xl'">
  <h3 class="modal-title"> Filtering the Block View </h3>

  <div class="modal-body">
    <app-block-view-filter *ngIf="blockViewBrowser && blockViewBrowser.refGenes"
                           [refSpecies]="refSpecies"
                           [compSpecies]="compSpecies"
                           [refGenes]="blockViewBrowser.refGenes"
                           [compGenes]="blockViewBrowser.compGenes"
                           [filters]="filters"
                           (userClose)="getFilters()">
    </app-block-view-filter>
  </div>
</clr-modal>
