<div class="clr-row clr-col-12">
  <div class="card">
    <div class="card-header"> FIND FEATURES </div>

    <div class="card-block">
      <div class="clr-row clr-col-12">
        <div class="clr-col-xl-7 clr-col-lg-12">
          <div class="clr-row">
            Select the species that you wish to use as reference and comparison
            (or destination).
          </div>

          <species-selection (update)="updateSpecies()"></species-selection>

          <hr/>

          <feature-selection (update)="updateFeatures()"></feature-selection>
        </div>

        <div class="clr-col-xl-5 clr-col-lg-12">
          <div class="clr-row">
            <p>
              Hovering over any chromosome will show the species and chromosome
              value of that chromosome. Selecting a reference chromosome will map
              the synteny of that chromsome to regions the comparison genome and
              will let you explore the selected chromosome at a more granular
              level if button below plot is clicked.
            </p>

            <clr-signpost>
              <button class="btn btn-link" clrSignpostTrigger>
                More info
              </button>
              <clr-signpost-content clrPosition="bottom-middle" *clrIfOpen>
                Searching and selecting features from the table(s) will show the
                features in the plot. Clicking on a chromosome without features
                will show the mapping of the entire chromosome in reference to
                the comparison genome. Clicking on a chromosome with at least
                one selected feature will show the mapping of any syntenic
                regions within that chromosome that contain a selected feature.
              </clr-signpost-content>
            </clr-signpost>
          </div>

          <hr/>

          <!-- Genome view species "legend" -->
          <div *ngIf="data.refSpecies && data.compSpecies" class="clr-row">
            <span style="font-weight: bold">
              Outer ring (reference genome): {{ data.refSpecies.commonName }}
            ({{ data.refSpecies.name }})
            </span>
            <span style="font-weight: bold">
              Inner ring (comparison genome): {{ data.compSpecies.commonName }}
              ({{ data.compSpecies.name }})
            </span>
          </div>

          <genome-view (highlightFeatures)="features.highlighted=$event"></genome-view>
        </div>
      </div>
    </div>

    <div class="card-footer text-right">
      <button class="btn btn-primary"
              [disabled]="!genomeView || !genomeView.refChr"
              (click)="getChromosomeFeatures()">
        <clr-icon shape="check"></clr-icon> See Selection in Block View
      </button>
    </div>
  </div>
</div>

<div *ngIf="viewInBrowser" class="clr-row">
  <div class="clr-col-12 bottom-1" id="block-view">
    <div class="card">
      <div class="card-header"> BLOCK VIEW BROWSER </div>

      <div class="card-block">
        <block-view-browser (filter)="filterOpen=true"></block-view-browser>
      </div>
    </div>
  </div>
</div>

<clr-modal id="block-view-filters" clrModalSize="xl"
           [(clrModalOpen)]="filterOpen"
           [clrModalClosable]="true">
  <h3 class="modal-title"> Filtering the Block View </h3>

  <div class="modal-body">
    <block-view-filter *ngIf="blockViewBrowser && blockViewBrowser.refGenes"
                       [refSpecies]="data.refSpecies"
                       [compSpecies]="data.compSpecies"
                       [refGenes]="blockViewBrowser.refGenes"
                       [compGenes]="blockViewBrowser.compGenes"
                       [filters]="data.filters"
                       (userClose)="getFilters()">
    </block-view-filter>
  </div>
</clr-modal>
